<ion-header>
  <ion-toolbar class="topToolbar">
    <ion-title>Türk Telekom'a Hoş Geldiniz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let card of cards; let i = index"
    [ngStyle]="{ 'background-color': card.color }"
    [class.active]="activeCard === i"
    (click)="toggleCard(i)"
    class="loginCard"
  >
    <ion-card-header>
      <div class="card-header">
        <ion-card-title>{{ card.title }}</ion-card-title>
        <ion-icon
          class="card-icon"
          [name]="activeCard === i ? 'chevron-up-outline' : 'chevron-down-outline'"
        ></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content *ngIf="activeCard === i">
      <div class="img-container">
        <ion-img [src]="card.cardImgSrc"></ion-img>
      </div>
      <ion-button expand="full" color="primary" (click)="onButtonClick($event)">
        <ion-label class="colorWhite">Giriş Yap</ion-label>
      </ion-button>
      <ion-button expand="full" fill="outline" (click)="onButtonClick($event)">
        <ion-icon slot="start" name="add-circle" class="colorWhite"></ion-icon>
        <ion-label class="colorWhite">Yeni Başvuru</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div class="history-container">
    <div *ngFor="let historyItem of history; let i = index" class="history-item" (click)="openModal(i)">
      <div class="history-avatar">
        <img [src]="historyItem.image" />
      </div>
      <h3 class="history-description">{{ historyItem.description }}</h3>
    </div>
  </div>

  <!-- Modal for Stories -->
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
    <ng-template>
      <div class="story-modal">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="story-content">
            <img [src]="selectedStory.image" class="story-image" />
            <h1 class="story-title">{{ selectedStory.description }}</h1>
          </div>
        </ion-content>
        <div class="progress-bar">
          <div class="progress" [style.width.%]="progress"></div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  
</ion-content>


<ion-footer>
  <ion-toolbar class="transparent-footer">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        <ion-label>Yardım</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="list-outline"></ion-icon>
        <ion-label>Misafir İşlemler</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>