.topToolbar {
  height: 60px;
  border-bottom-right-radius: 30px;
  background-color: white;
  color: #06386b;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  ion-title {
    margin-top: 10px;
    font-size: 20px;
    width: auto;
  }
}
.loginCard {
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  height: 100px;
  overflow: hidden;
  margin: 0;
  border-radius: 0px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge */
  position: relative; /* Z-index için gerekli */
  color: var(--ion-color-dark);
  z-index: 1; /* Kartları üst üste bindirmek için */
}

.loginCard.active {
  transform: scale(1.025);
  height: auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Daha belirgin gölge */
  color: white;
}

.loginCard:not(.active) {
  z-index: 0; /* Pasif kartlar arkada kalır */
}

ion-card-title {
  text-align: start;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container ion-img {
  width: 100px;
  height: 100px;
  object-fit: contain; /* Görselin taşmasını önler */
  border-radius: 50%; /* Yuvarlak yapmak istiyorsanız */
}

.card-icon {
  margin-left: auto;
  font-size: 1.5em;
  color: white;
}

.colorWhite {
  color: white;
  font-weight: bold;
}




.history-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
}

.history-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 100px;
  flex-shrink: 0;
}

.history-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #66cdaa;
}

.history-description {
  font-size: 0.9em;
  margin-top: 8px;
  color: #06386b;
}

/* Modal Styles */
.story-modal {
  position: relative;
  height: 100%;
  background: black;
}

.story-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.story-image {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.story-title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 16px;
}

.progress-bar {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.progress {
  height: 100%;
  background: white;
  transition: width 9s linear;
}





.transparent-footer {
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  color: #06386b;

  ion-buttons {
    margin-top: 10px;
    ion-button {
      font-size: 18px;
      color: #06386b;
      --background: transparent;
      --color: #06386b;
      ion-icon {
        font-size: 18px;
      }
    }
  }
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
}

.modal-header {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.modal-content {
  text-align: center;
  width: 80%;
}

.modal-image {
  width: 100%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 16px;
}

.modal-description {
  font-size: 1.2em;
}